{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method='post' id="reg-form" class="form-control"> {% csrf_token %}
        <h1>Edit Your Venue</h1>
        {{ form|crispy }}
        <hr />
        <h2 class="my-4">Contact Details</h2>
        {{ contact|crispy }}
        <hr />
        <h2 class="my-4">Add/Edit Seats</h2>
        <a>You can only add one seat type at a time</a>
        {{ seats|crispy }}
        <button type="submit" class="btn btn-primary my-5">Submit</button>
    </form>
{% endblock content %}
