{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 class="mb-4">The Best Events We have to Offer</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for event in events %}
            <div class="col-12 col-md-6 mb-3">
                <div class="card h-100">
                    <a class="text-dark text-decoration-none link-decoration-non"
                        href="{% url 'event.details' pk=event.id %}">
                        {% if event.thumbnail_img %}
                            <img src="{{ event.thumbnail_img }}"
                                class="card-img-top"
                                alt="venue image"
                                height="500px"
                                width="200px"/>
                        {% else %}
                            <img src="{% static 'public/img/Image_not_available.png' %}"
                                class="card-img-top"
                                alt="no image"
                                height="500px"
                                width="200px"/>
                        {% endif %}
                        <div class="card-body">
                            <h5  class="card-title">{{ event.name }} at {{ event.venue_id.name }}</h5>
                            <p class="card-text">{{ event.time }}</p>
                            <p class="card-text">{{ event.description|truncatechars:500 }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
